@model IList<PcaSoundCloud.Shared.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<form action="/usersearch/index" method="POST">
    <input type="text" name="searchQuery" value=""/>
    <button type="submit">Submit</button>
</form>*@

<div class="row">
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchQuery")
        </p>   
        <p>
            <button type="submit">Submit</button>
        </p>
    }
    <div class="row">
        @foreach (var user in Model)
        {
            <a href="@Url.Action("Index", "User", new { id = user.id })">
                <img src="@user.avatar_url"/>
                <p>@user.username</p>
            </a>
        }
    </div>

</div>
