@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="Search" ng-controller="searchCtrl">
    <h2>Search Music</h2>
    
        
        
    
    <form>
        <div class="input-group">
            <input autofocus type="text" name="search" ng-model="searchString" class="form-control" />
            <span class="input-group-btn">
                <button type="submit" ng-click="search(searchString)" class="btn btn-default">Search</button>
            </span>
        </div>
    </form>

    <div ng-repeat="track in tracks" class="track row">
        <div class="col-lg-2">
            <img ng-src="{{track.User.AvatarUrl}}" alt="user url" />
        </div>
        <div class="col-lg-10">
            <a href="@Url.Action("Index", "Track")?i={{track.Id}}">
                <h4>{{track.Title}}</h4>
            </a>
            {{track.Permalinkurl}}
            <p>
                {{track.Description}}
            </p>
        </div>

    </div>
</div>

@section scripts
{
    <script>
        angular.module('Search', [])
            .controller('searchCtrl', ['$scope', '$http', function ($scope, $http) {
                $scope.searchString = '';
                $scope.expectedVarName = 'userName';

                $scope.search = function (searchString) {
                    $http.get('/search/searchmusic?' + $scope.expectedVarName + '=' + searchString).success(function (response) {
                        $scope.tracks = response.tracks;
                    });
                };
            }]);
    </script>
}