@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="Search" ng-controller="searchCtrl">
    <h2>Search Music</h2>
    <form action="" method="">
        <input autofocus type="text" name="search" ng-model="searchString" />
        <input type="submit" ng-click="search(searchString)" value="Search"></input>
    </form>
    
    <div ng-repeat="track in tracks" style="border: 1px solid black">
        <h4>{{track.Id}} - {{track.Title}}</h4>
        <p>{{track.Description}}</p>
    </div>
</div>

@section scripts
{
    <script>
        angular.module('Search', [])
            .controller('searchCtrl', ['$scope', '$http', function ($scope, $http) {
                $scope.searchString = '';
                $scope.expectedVarName = 'userName';

                $scope.search = function(searchString) {
                    $http.get('/search/searchmusic?' + $scope.expectedVarName + '=' + searchString).success(function(response) {
                        $scope.tracks = response.tracks;
                    });
                };
            }]);
    </script>
}