@{
    ViewBag.Title = "Bootstrap";
}

<div class="row">
    <div class="col-md-6">
        <h2>Popular</h2>
        <div class="row">
            @{int i = 0;}
            <div class="col-md-4">
                <ul>
                    @for (i = 0; i < 2; i++)
                    {
                        <li class='musicbox'>song</li>    
                    }
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    @for (; i < 4; i++)
                    {
                        <li class='musicbox'>song</li>    
                    }
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    @for (; i < 6; i++)
                    {
                        <li class='musicbox'>song</li>    
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Recent</h2>
        <div class="row">
            @{int j = 0;}
            <div class="col-md-4">
                <ul>
                    @for (j = 0; j < 2; j++)
                    {
                        <li class='musicbox'>song</li>    
                    }
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    @for (; j < 4; j++)
                    {
                        <li class='musicbox'>song</li>    
                    }
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    @for (; j < 6; j++)
                    {
                        <li class='musicbox'>song</li>    
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
